<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Secrets don't make friends</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1><a href="index.hbs"> Hush-hush</h1>
      <nav>
        <ul>
          <li><a href="login.hbs">login</a></li>
            <li> Logout</li>
        </ul>
      </nav>
    </header>
    <section>
      <h1> Welcome to Hush-hush!</h1>
      <p> You must login or create an account to keep a secret</p>
      <button><a href="login.hbs">Get Started</a></button>
    </section>
    <footer>
      <nav>
        <ul>
          <li><a href="login.hbs">login</a></li>
          <li> Logout</li>
        </ul>
      </nav>

    </footer>

  </body>
</html>
