<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets don't make friends</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1><a href="index.hbs"> Hush-hush</h1>
      <nav>
        <ul>
          <li><a href="index.hbs">Home</a></li>
          <li><a href="login.hbs">login</a></li>
          <li><a href="secrets.hbs">My Secrets</a></li>
          <li><a href="addSecrets.hbs">New Secret</a></li>
          <li> Logout</li>
        </ul>
      </nav>
    </header>
    <section class="createAccount">
      <form class="createForm">
        <h2> Create Account</h2>
          <h4> Email:</h4>
          <input type="text" value=""></input>
          <button id="createAccount"> Create Account</button>
      </form>
  </section>
  <section class="signIn">
    <form class="signInForm">
      <h2> Login</h2>
      <h4> Code:</h4>
      <input type="text" value=""></input>
      <button id="signIn"> Login</button>
    </form>
  </section>
    <footer>
      <nav>
        <ul>
          <li><a href="index.hbs">Home</a></li>
          <li><a href="login.hbs">login</a></li>
          <li><a href="secrets.hbs">My Secrets</a></li>
          <li><a href="addSecrets.hbs">New Secret</a></li>
          <li> Logout</li>
        </ul>
      </nav>

    </footer>

  </body>
</html>
